body{
    font-size: 27px;
    font-family: 'Cormorant Garamond', serif;
}
header{
    background:rgb(0, 8, 119);
    color:white; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-top: none;
    font-size: 30px;
    text-align: center;
    margin:auto;
    width: 60%;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Cormorant Garamond', serif;
    animation-name: example;
    animation-duration: 5s;
}
.header{
    margin: auto;
    width: 50%;
}
p{
    margin: auto;
    width: 85%;
}
div ul{
    margin-left: 30%;
}
div{

    margin:auto;
    width:70%;
    
}

.input{
    margin: auto;
    width: 80%;
    padding: 8px;
}


#imgdiv{
    background:rgb(0, 8, 119);
    margin-top: 20px;
    border-top: none;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: example;
    animation-duration: 5s;
}

#img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:40vw ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

nav ul.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    background:white;
    color: black;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
}


nav ul li {
float: left;
position:relative;
list-style-type:none;

}

nav ul li a:hover {
color: blue;
}

nav ul li a {
display: inline;
padding: 20px 20px;
color:black; 
text-decoration: none;
font-family: 'Cormorant Garamond', serif;
font-size: 30px;

}

a{
    text-decoration: none;

}


.icon a{
    width: 100%;
    font-size:200%;
}

.footer{
    width: 20%;
    margin: auto;
}

.fa{
    padding-left: 15px;
}
/* The animation code */
@keyframes example {
    from {background-color:green; color:white}
    to {background-color:greenyellow;}
  }

@media only screen and (max-width: 1000px){
nav ul.nav{
    width: auto;
    height: 60px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background:white;
    align-items: center;
    padding: 5px;
    border-bottom: none;

    
}
nav ul li a {
    
display: inline;
padding: 10px 10px;
color:black; 
text-decoration: none;
font-family: 'Cormorant Garamond', serif;
font-size: 24px;
padding: 5px;
}

a{
    text-decoration: none;

}	

header{
    background:rgb(0, 8, 119);
    color:white; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    margin:auto;
    width: 60%;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Cormorant Garamond', serif;

}

.icon a{
    width: 100%;
    font-size:130%;
}

body{
    font-size: 20px;
}

.fa{
    padding-left: 10px;
}

.footer{
    width: 40%;
    margin: auto;
}

}

    