header{
    background: purple;
    color:white; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-top: none;
    font-size: 20px;
    text-align: center;
    margin:auto;
    width: 60%;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;

}
.header{
    margin: auto;
    width: 50%;
}
p{
    margin: auto;
    width: 85%;
}
div ul{
    margin-left: 30%;
}
div{

    margin:auto;
    width:70%;
    
}

.input{
    margin: auto;
    width: 80%;
    padding: 8px;
    border-radius: 7px;
}


#imgdiv{
    background: purple;
    margin-top: 20px;
    border-top: none;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;

    
}

#img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:40vw ;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

nav ul.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    background: purple;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


/* nav ul li:hover > ul {
display: block;
padding-top: 15px;
} */

/* nav ul:after {
content: ""; 
clear: both; 
display: block;
} */

nav ul li {
float: left;
position:relative;
list-style-type:none;
}

nav ul li a:hover {
color: pink;
}

nav ul li a {
display: inline;
padding: 20px 20px;
color:white; 
text-decoration: none;
font-family: 'Times New Roman', Times, serif;
font-size: 22px;
background: purple;

}

a{
    text-decoration: none;

}

nav ul ul li a {
padding: 10px 10px;
color:rgb(216, 193, 193); 
font-size: 20px;
}	
nav ul ul li a:hover {
background:black;
display: inline-block;
width: auto;

}

.icon a{
    width: 100%;
    font-size:200%;
}

.footer{
    width: 20%;
    margin: auto;
}

.fa{
    padding-left: 15px;
}


@media only screen and (max-width: 1000px){
nav ul.nav{
    width: auto;
    height: 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background: purple;
    align-items: center;
    padding: 5px;
    border-bottom: none;

    
}
nav ul li a {
    
display: inline;
padding: 10px 10px;
color:white; 
text-decoration: none;
font-family: 'Times New Roman', Times, serif;
font-size: 11px;
background: purple;
padding: 5px;
}
nav ul ul li a {
padding: 3px 5px;
color:rgb(216, 193, 193); 
font-size: 13px;
}
a{
    text-decoration: none;

}	

header{
    background: purple;
    color:white; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    margin:auto;
    width: 60%;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.icon a{
    width: 100%;
    font-size:130%;
}

body{
    font-size: 13px;
}

.fa{
    padding-left: 10px;
}

.footer{
    width: 40%;
    margin: auto;
}

}

    